<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="www.edunso.ru" value="http://www.edunso.ru/"/>
    <add key="www.educaltai.ru" value="http://www.educaltai.ru/"/>
    <add key="www.n-t.ru" value="http://www.n-t.ru/"/>
    <add key="www.rcoi.net" value="http://www.rcoi.net/"/>
  </appSettings>
</configuration>